<div class="jumbotron">
  <p class="lead">
    <% @posts.each do |post| %>
      <div class="card post">
        <div class="card-body">
          <%= simple_format(post.message, {}, wrapper_tag: "h5") %> 
          <p class="card-text">
            says: <%= post.user[:name] %> 
          </p>
          <p><%= post.created_at.localtime.strftime 'at: %H:%M on %d-%m-%y' %></p>
          <br/>
          <% if user_signed_in? && current_user.id == post.user[:id]%>
            <%= link_to "Delete", post_path(post.id),
              method: :delete,
              data: {confirm: "are you sure? "}, class:"btn btn-outline-danger btn-sm" %>
            <%= link_to "Update", edit_post_path(post.id), class:"btn btn-outline-primary btn-sm" %>  
          <% end %> 
          <% if user_signed_in?%>
            <%= link_to "Comment", new_comment_path(post_id: post.id), class:"btn btn-outline-primary btn-sm" %>  <%# add query string parameter "post_id" %>
          <% end %>
        </div>
        <% if post.comments.count > 0 %>
          <h6 class="comments-header">Comments:<h6>
        <% end %>
        <% post.comments.each do |comment|%>
          <div class="comment card">
            <div class="card-body">
              <p class="message"> <%= simple_format(comment.message) %> </p>   
              <p> created by <%= comment.user.name %></p>
              <br/>
              <% if user_signed_in? && current_user.id == comment.user[:id]%>
                <%= link_to "Delete comment", comment_path(comment.id),
                  method: :delete,
                  data: {confirm: "are you sure? "}, class:"btn btn-outline-danger btn-sm" %>
                <%= link_to "Update comment", edit_comment_path(comment.id), class:"btn btn-outline-primary btn-sm" %>
              <% end %>
            </div>
          </div>
        <% end %>    
      </div>
    <% end %>
  </p>
</div>
